.content-header {
    padding: 15px 15px 15px 15px !important;
}

.content-header>.head-buttons {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

.head-buttons {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

div.has-warning span.select2-selection {
    border-color: #f39c12 !important;
}