<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<table class="table table-condensed" id="eventTable">
		<thead>
		<tr>
			<th>Type</th>
			<th>Start</th>
			<th>End</th>
			<th>Creator</th>
			<th>Patient</th>
			<th>Title</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<% _.each(events, function(event) { console.log(event); %>
		<tr>
			<td><span class="label label-info" style="background-color: <%= event._event_type.color %> !important"><%= event._event_type.title %></span></td>
			<td><span class="label label-info"><%= event._start.split(" ")[1] %></td>
			<td><span class="label label-info"><%= event._end.split(" ")[1] %></span></td>
			<td><span class="label label-info"><%= event._creator.firstname %> <%= event._creator.lastname %></span></td>
			<td><span class="label label-info"><%= event._patient.firstname %> <%= event._patient.lastname %></span></td>
			<td><%= event.title  %></td>
			<td>
				<a href="calendar/<%= event.id %>" class="btn btn-primary">Show</a>
				<a class="btn btn-default"
				   data-event-id="<%= event.id %>"
				   onclick="showDeleteDialog('Are you sure?', 'After removing this resource you are not able to restore related data', this)"
				   data-confirmation-callback="function (element) { console.log($(element).data('eventId'));deleteEvent($(element).data('eventId')); }"
			>Delete</a></td>
		</tr>
		<% }) %>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#eventTable').DataTable();
	})
</script>
