<div class="cal-month-day <%= cls %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>

	<% if (events.length > 0) { %>
		<div class="pull-left" style="padding:10px;">
			<span class="badge badge-info"><%= events.length %></span>
		</div>
		<div style="position:absolute; bottom: 10%; right:10%">
			<a onclick="alert('asd')" class="btn btn-default create-event" style="visibility: hidden; z-index: 1100" >Add</a>
		</div>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %>" style="background-color: <%= event._event_type.color %> !important" data-toggle="tooltip"
					title="<%= event.title %>"></a>
			<% }); %>
		</div>
	<% } else { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>" style="padding: 10px">
			<span class="label label-default">Keine Events</span>
		</div>
	<% } %>
</div>
